@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(to bottom right, #ff9966, #ff5e62);
}

.login-box {
	width: 350px;
	background: #fff;
	color: #000;
	box-shadow: 0 15px 20px rgba(0,0,0,.2);
	padding: 40px;
	position: relative;
	transform: translate(-50%, -50%);
}

.login-box h1 {
	text-align: center;
	margin-bottom: 50px;
}

.textbox {
	position: relative;
	margin-bottom: 15px;
}

.textbox i {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	color: #ff5e62;
	font-size: 20px;
}

.textbox input {
	width: 100%;
	padding: 10px;
	border: none;
	outline: none;
	background: #f2f2f2;
	border-radius: 5px;
	font-size: 16px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	padding-left: 40px;
}

.textbox input:focus ~ i {
	color: #ff5e62;
}

.login-box input[type="submit"] {
	width: 100%;
	padding: 10px;
	border: none;
	outline: none;
	background: #ff5e62;
	color: #fff;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.login-box input[type="submit"]:hover {
	background: #ff334b;
}

.login-box a {
	text-align: center;
	display: block;
	margin-top: 20px;
	color: #ff5e62;
	text-decoration: none;
	font-size: 14px;
}

.login-box a:hover {
	text-decoration: underline;
}