<!--<!DOCTYPE html>-->
<!--<html lang="">-->
<!--<head>-->
<!--    <link rel="stylesheet"  href="style.css">-->
<!--    <title></title>-->

<!--</head>-->

<!--<body>-->

<!--<div class="login-box">-->
<!--    <h1>Login</h1>-->
<!--    <form action="#">-->
<!--        <div class="textbox">-->
<!--            <i class="fas fa-user"></i>-->
<!--            <label>-->
<!--                <input type="text" placeholder="Username" />-->
<!--            </label>-->
<!--        </div>-->
<!--        <div class="textbox">-->
<!--            <i class="fas fa-lock"></i>-->
<!--            <label>-->
<!--                <input type="password" placeholder="Password" />-->
<!--            </label>-->
<!--        </div>-->
<!--        <input type="submit" value="Login" />-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->